body {
  background-color: #EEEEEE;
}
img:hover {
  background-color: purple;
}

hr {
  border-color: silver;

}
h1 {
color: #66BFBF;
font-style: italic;

}
h2 {
  color: #66BFBF;
}
div {
  position: relative;
  top: 0px;

}
